HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Application properties files
application.properties
application-*.properties
*.properties.local
*.properties.dev
*.properties.prod


# Firebase configuration files
firebase-config.js
*firebase*config*.js
firebase.json
*.jar


# Environment variables
.env
.env.*

# Log files
*.log
logs/

